.container {
    position: relative;
}

.menuTemp img:nth-child(2) {
    display: none;
}
.footerTemp img:nth-child(2) {
    display: none;
}

.intro {
    max-height: 592px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.stickyTagContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.containerProject {
    position: relative;
    padding-top: 6.56rem;
}

.tagWrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: 1380px;
    z-index: 10;
    pointer-events: none;
}

.tagList {
    position: static;
    pointer-events: auto;
}

.tagWrapper.fixed {
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 50%;
    transform: translate(-50%);
}

.tagBurger {
    display: none;
}

.backWrapper {
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 0;
    bottom: 0.6rem;
    width: 100%;
    max-width: 1380px;
}

.back {
    position: static;
    margin: 0;
    padding: 0;
}

.backWrapper.fixed {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}
.tooltipPopup {
    display: none;
}
@media only screen and (max-width: 768px) {
    html {
        font-size: min(4.267vw, 16px);
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul {
        margin: 0;
    }

    img,
    svg {
        width: 100%;
        height: auto;
    }

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .menuTemp {
        
        height: auto;
        width: calc(100% + 2.5rem);
        margin: 0 -1.25rem;
    }

    .menuTemp img:nth-child(1) {
        display: none;
    }

    .menuTemp img:nth-child(2) {
        display: block;
    }
    .footerTemp img:nth-child(1) {
        display: none;
    }

    .footerTemp img:nth-child(2) {
        display: block;
    }

    .intro {
        position: relative;
        height: 100vh;
        width: calc(100% + 2.5rem);
        margin: 0 -1.25rem;
        max-height: 37.50rem;
        justify-content: center;
    }

    .intro .imageContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .backgroundImage{
        height: 16.69rem;
        width: auto;
    }
    .intLogo {
        margin: 0;
        margin-top: clamp(4.00rem, 18vh, 7.50rem);
        width: 3.06rem;
        height: 3.06rem;
    }

    .intTitle {
        margin-top: 1.31rem;
        margin-bottom: 20.7rem;
        width: 13.63rem;
        font-size: 1.63rem;
        line-height: 1.81rem;
    }
    
    .containerProject {
        padding-top: 8.4rem;
        padding-bottom: 1rem;
    }

    .tagWrapper {
        top: calc(100vh - 1.13rem);
        left: unset;
        right: 50%;
        transform: translate(50%);
        width: calc(100% + 2.5rem);
    }

    .tagWrapper.fixed {
        position: fixed;
        top: unset;
        bottom: 1.13rem;
        padding: 0;
        width: 100%;
        left: unset;
        right: 0;
        transform: unset;
    }
    /* .tagWrapper.fixed .tagBurger{
        right: 0;
    }
    .tagWrapper.fixed .tagList{
        right: 0;
    } */
    .tagBurger {
        display: flex;
        position: absolute;
        right: 1.25rem;
        bottom: 0;
        width: 3.13rem;
        height: 3.13rem;
        border-radius: 50%;
        background: var(--lightgrey);
        z-index: 100;
        transform: translateZ(10px);
        pointer-events: auto;
    }

    .tagBurger span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1.25rem;
        height: 0.13rem;
        background: #A4A4A5;
    }

    .tagBurger span:nth-child(1) {
        transform: translate(-50%, calc(-50% - 0.44rem));
    }

    .tagBurger span:nth-child(2) {
        transform: translate(-50%, -50%);
    }

    .tagBurger span:nth-child(3) {
        transform: translate(-50%, calc(-50% + 0.44rem));
    }

    .tagBurger.show span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .tagBurger.show span:nth-child(2) {
        opacity: 0;
    }

    .tagBurger.show span:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .tagList {
        display: none;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        padding: 1.13rem 0.94rem 0rem 2.96rem;
        width: 13.88rem;
        height: 18.63rem;
        border-radius: 1.50rem;
        background: var(--lightgrey);
        text-align: right;
        pointer-events: none;
    }

    .tagList.show {
        display: flex;
        pointer-events: auto;
    }

    .tagList li {
        padding: 0;
        margin-bottom: 0.75rem;
    }

    .tag {
        padding: 0;
        font-size: 1rem;
        line-height: 1.50rem;
        color: var(--black);
    }

   

    .back {
        display: none;
    }

    .tooltipPopup {
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem 2.00rem 2.63rem 1.25rem;
        box-shadow: 0px -2px 2px rgba(191, 203, 222, 0.1), 0px -5px 10px rgba(191, 203, 222, 0.25);
        border-radius: 24px 24px 0px 0px;
        background: var(--white);
        z-index: 101;
        transform: translateZ(100px) translateY(150%);
        pointer-events: none;
        font-family: 'Montserrat', sans-serif;
        transition: all ease 0.5s;
    }

    .tooltipPopup.show {
        /* display: flex; */
        pointer-events: auto;
        transform: translateZ(100px) translateY(0);
    }

    .tooltipClose {
        position: absolute;
        width: 0.88rem;
        height: 0.88rem;
        top: 1rem;
        right: 1rem;
    }

    .tooltip * {
        pointer-events: none;
    }

    .tooltip img {
        margin-bottom: -0.2rem;
        padding: 0;
        width: 0.94rem;
        height: 0.94rem;
    }

    .tooltip .tooltiptext {
        display: none;
    }

    .scrolly {
        flex-direction: column;
    }
    .scrolly:last-child {
        margin-bottom: 4rem;
    }

    .sticky-thing {
        position: static;
        width: 100%;
        max-height: unset;
        z-index: 5;
        background: var(--white);
    }
    .sticky-thing-mobile{
        position: sticky;
    }

    article {
        max-width: 100%;
        padding: 1rem 0rem 0 0;
    }
    .chapter {
        /* height: 100vh; */
        min-height: unset;
        /* max-height: 43rem; */
        /* max-height: 36rem;
        padding-bottom: 10rem; */
        justify-content: center;
    }
    .chapter1{
        margin-top: 2rem;
        margin-bottom: 9.2rem;
    }
    .chapter2{
        margin-top: 10rem;
        margin-bottom: 7.5rem;
    }
    .chapter3{
        margin-top: 10.9rem;
        margin-bottom: 9.4rem;
    }
    .chapter4{
        margin-top: 9.6rem;
        margin-bottom: 12.7rem;
    }
    .chapter5{
        margin-top: 10.1rem;
        margin-bottom: 6.8rem;
    }
    .chapterTitle {
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .chapterLead {
        width: 100%;
        font-size: 1rem;
        line-height: 1.50rem;
    }
    .chapterImage {
        width: 23.44rem;
        height: 8.88rem;
        margin: 0 -1.25rem 0;
        overflow: unset;
        z-index: -1;
    }

    .chapterSvg {
        position: absolute;
        top: -11.4rem;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        margin: 0;
    }
   

    .chart {
        width: calc(100% + 2.5rem);
        margin: 0 -1.25rem;
        max-height: 22rem;
    }
    .chart svg{
        overflow: visible;
    }
    .step{
        margin-top: 0;
        margin-bottom: 2rem;
        padding: 0;
    }
    .step:first-child{
       margin-top: 2.63rem !important; 
    }
    .step:last-child{
        margin-bottom: 0 !important;
    }
    .interactivitylabel {
        bottom: -0.5rem;
        left: 1.25rem;
    }

    .interactivitylabel img {
        height: 100%;
        width: auto;
    }
    .factoid{
        margin-right: 0;
    }
    .tip{
        width: 11.8rem;
    }
    .toopltipNumber{
        padding-left: 0.3rem;
    }
    #chart5 .labelRed{
        font-size: 0.5rem;
    }
    #chart5 .tick text{
        font-size: 0.5rem;
    }
    #chart5 #labelRed7{
        transform: translate(0, -0.3rem);
    }
    #chart5 #labelRed9{
        transform: translate(-0.7rem, 0.1rem);
    }
    #chart5 #labelRed13{
        text-anchor: end;
        transform: translate(1rem, 0rem);
    }
    #chartTitle5 .redText {
        background: none;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        color: var(--white);
    }
    #chartTitle5 .redText span{
        background-color: var(--red);
        padding: 2px 6px;
        margin: 0 0.2rem 0 0;
        border-radius: 4px;
        color: var(--white);
    }
}