* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --black: #3b3b3b;
  --white: #ffffff;
  --red: #E30613;
  --grey: #E6E9EF;
  --grey2: #a4a9b4;
  --lightgrey: #F6F8FB;
}

*, :after, :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
}
/* helper styles */


.container--wide {
  max-width: 1380px;
}
.container {
  width:100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.tabContent{
  position: relative;
  width: 100%;
  margin-left: 25%;
  max-width: 75%;
}
.sidebar{
  position: absolute;
  top: 9.25rem;
  left: 0;
  pointer-events: none;
  max-width: 25%;
  width: 100%;
  height: 1000px;
  background: #ff4f905c;
}
@media screen and (max-width: 1280px){
  .tabContent {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: 16.66667%;
  }
  .sidebar{
    max-width: 16.66667%;
  }
}
@media screen and (max-width: 1024px){
  .tabContent {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .sidebar{
    display: none;
  }
}
/* end helper styles */

.menuTemp {
  height: 9.25rem;
  z-index: 100;
}

/* intro */

.intro {
  max-height: 592px;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.intro .imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
}

.backgroundImage {
  z-index: -10;
  width: 100%;
  display: block;
  position: relative;
}

.intLogo {
  margin-top: 7.5vh;
  margin-bottom: 1rem;
  width: 90%;
}

.intTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: var(--black);
  width: 500px;
}




/* chapters */

.chapter {
  /* min-height: 592px; */
  text-align: center;
  margin: 0rem 0 0 0;
  display: flex;
  position: inherit;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.chapterImage{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chapterTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  color: var(--black);
  margin-top: 3.5rem;
  margin-bottom: 1.4rem;
}

.chapterLead {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 150%;
  text-align: center;
  color: var(--black);
  opacity: 0.45;
  width: 40rem;
}


.chapterSvg object{
 width: 100%;
 height: auto;
}
.chapterSvg1{
  width: 100%;
  max-width: 61rem;
  margin-left: 0;
}
.chapterSvg2{
  width: 100%;
  max-width: 62.9rem;
  margin-left: 0;
}
.chapterSvg3{
  width: 100%;
  max-width: 62.9rem;
}
.chapterSvg4{
  width: 100%;
  max-width: 65.9rem;
  margin-left: 1.8rem;
}
.chapterSvg5{
  width: 100%;
  max-width: 58.9rem;
  margin-left: 0.9rem;
}
.svgIcon{
  opacity: 0;
  transition: opacity ease 1.5s;
}


/* fixed navigation elements */



.tag {
  padding: 0.3rem 0.3rem 0.3rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  width: max-content;
  font-family: 'Montserrat';
  text-decoration: none;
  color: var(--grey2);
}



.tagList {

  margin: 0 0 0 auto;
  width: 100%;
  padding: 0.6rem 0rem 0.6rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  overflow: auto;
  
  pointer-events: auto;
}
.tagList ul {
  list-style: none;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  padding-top:0px;
  margin: 0;
  flex-wrap: wrap;
}
.tagList li{
  padding: 0.2rem 1.6rem;
  white-space: nowrap;
}
.tagWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  max-width: 1380px;
  z-index: 101;
  pointer-events: none;
  
  background-color: rgba(255, 255, 255, 0.95);
}


.tagWrapper.fixed {
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  left: 50%;
  transform: translate(-50%);
}
.tagWrapper.fixed .tagList {
  flex-basis: 75%;
  max-width: 75%;
  margin-left: 25%;
}
@media screen and (max-width: 1280px){
  .tagWrapper.fixed .tagList {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: 16.66667%;
  }
}
@media screen and (max-width: 1024px){
  .tagWrapper.fixed .tagList {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .tagList li{
    padding: 0.2rem 1rem;
    white-space: nowrap;
  }
}
.tagBurger {
  display: none;
}
.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  width: fit-content;
  margin: auto auto 0.6rem 0;
  border-radius: 10rem;
  z-index: 10;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}

#backIcon {
  padding-right: 0.4rem;
}


/* scrolly thingy */

.scrolly {
  margin-bottom: 64px;
  width:100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* 
.scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
} */

.scrolly article {
  margin-left: auto;
  position: relative;
  padding: 2rem 0rem 0 0;
  width: 35%;
}

.sticky-thing-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  /* height: 100vh; */
}
.sticky-container{
  width: 100%;
  height: 100%;
}
.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
  max-height: 700px;
  height: 100vh;
  width: 65%;
  pointer-events: auto;
}

.sticky-thing-wrapper.fixed{
  position: fixed;
  max-width: 1380px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  left: 50%;
  transform: translate(-50%) translateZ(10px);
  z-index: 100;
}

.sticky-thing-wrapper.fixed .sticky-thing-container{
  flex-basis: 75%;
  max-width: 75%;
  margin-left: 25%;
  width: 100%;
}

@media screen and (max-width: 1280px){
  .sticky-thing-wrapper.fixed .sticky-thing-container{
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: 16.66667%;
  }
}
@media screen and (max-width: 1024px){
  .sticky-thing-wrapper.fixed .sticky-thing-container{
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px){
  .sticky-thing-wrapper.fixed{
    position: static;
    padding-left: 0;
    padding-right: 0;
    
    transform: none;
  }
  .sticky-thing-wrapper-mobile.fixed{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    transform: none;
    left: 0;
  }
 
  .sticky-thing-wrapper{
    height: auto;
    position: static;
    background: var(--white);
  }
  .sticky-thing-wrapper-mobile{
    position: absolute;
    padding-top: 0.5rem;
  }
  .sticky-thing-wrapper-mobile.fixed{
    position: fixed;
  }
}
.sticky-thing-wrapper.fixed-bottom{
  left: 0;
  top: unset;
  bottom: 0;
}

.chart {
  max-width: 700px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  width: 100%;
  max-height: 450px;
  height: 450px;
}
.chart *{
  font-size: 12px;
}


.sticky-thing p {
  padding: 1rem;
  font-size: 8rem;
  font-weight: 900;
  color: var(--white);
}

.step {
  position: relative;
  margin-bottom: 5rem;
  color: #000;
  border-radius: 4px;
  padding: 2rem 1rem 2.4rem 1.8rem;
  gap: 10px;
  margin-top: 5rem;
  font-family: 'Montserrat';
  font-size: 0.94rem;
  line-height: 150%;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step:first-child {
  margin-top: 16rem !important;
}

.step:last-child {
    margin-bottom: 16rem!important;
  }

/* factoids */

.factoid {
  background-color: var(--lightgrey);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
  padding: 1.4rem 1.4rem 4.2rem 1.4rem;
  margin-right: -1.4rem;
}

.factoid p {
  padding-right: 1rem;
  padding-top: 0.4rem;
  height: fit-content;
  margin: 0;
  line-height: 140%;
  font-size: 0.9rem;
}

.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  color: var(--red);
  font-size: 2.75rem;
  margin-bottom: 0.6rem;
  padding-top: 2rem;
}

.secondNumber {
  padding-top: 2.3rem;
}

.unit {
  font-weight: 700;
  font-size: 1.3rem;
}

#unit1{
  padding-left: 0.15rem;
}

/* charts */
.mybar {
  color: var(--red);
}

.chartNote {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: var(--grey2);
  font-size: 0.9rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.labelRed{
 font-family: 'Montserrat';
 font-size: 12px;
  fill:var(--red);
 text-anchor:middle;
}

.labelGrey{
 font-family: 'Montserrat';
 font-size: 12px;
  fill: var(--black);
 text-anchor:middle;
}

.redText {
  background-color: var(--red);
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--white);
  -webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.greyText {
  background-color: var(--grey);
  padding: 2px 6px;
  border-radius: 4px;
  
  -webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.chartTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  color: var(--black);
  font-size: 0.9rem;
  line-height: 1.7;
  min-width: 70%;
  padding-bottom: 1rem;
}

#chartTitle2{
  padding-bottom: 0.1rem;
}

.axisLeft{
  color: var(--black);
  background-color: var(--black);
}


/* path animation */
.lineAnimation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}



/* Tooltip */

.tooltip {
  position: relative;
}

.tooltip img {
  padding: 0px 2px 0px 2px;
  margin-bottom: -1px;
}

.tooltipWord{
  border-bottom: 1px dashed var(--grey2); 
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 18rem;
  background-color: var(--white);
  box-shadow: 0px 10px 10px 0px #BFCBDE4D, 0px 2px 2px 0px #BFCBDE4D, 0px -4px 10px 0px #BFCBDE33;
  font-size: 0.9rem;
  color: var(--black);
  text-align: left;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  line-height:1.3;
  font-weight: 400;


  position: absolute;
  top: 100%;
  right: 20%;
  z-index: 150;
}

.tooltip .tooltiptextLeft{
  left: 20%!important;
}

  .tooltip .source {
    padding: 6px 10px;
    font-size: 0.8rem;
    width: fit-content;
  }



.tooltip:hover .tooltiptext {
  visibility: visible;
}


.tip{
  font-family: "Montserrat";
  height: fit-content;
  pointer-events: none;
  position: absolute;
  width: fit-content;
  background-color: var(--white);
  box-shadow: 0px 8px 8px 0px #bfcbde41, 0px 2px 2px 0px #BFCBDE4D, 0px -2px 10px 0px #BFCBDE33;
  font-size: 0.8rem;
  color: var(--black);
  text-align: left;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  
  
  
  
}

.toopltipNumber{
  padding-left: 1rem;
  font-weight: 600;
}


.interactivitylabel {
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
bottom:45px;
left: 60%;
height:1rem;
padding:0;
margin:0;
}

.intLabelText{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #C4C7CC;
  font-size: 0.8rem;
  padding-left: 0.3rem;
}


.container {
  position: relative;
}

.menuTemp img:nth-child(2) {
  display: none;
}

.footerTemp img:nth-child(2) {
  display: none;
}

.stickyTagContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.containerProject {
  position: relative;
  padding-top: 6.56rem;
}



.backWrapper {
  position: absolute;
  padding-left: 2rem;
  padding-right: 2rem;
  left: 0;
  bottom: 0.6rem;
  width: 100%;
  max-width: 1380px;
  z-index: 10;
}

.back {
  position: static;
  margin: 0;
  padding: 0 0.8rem;
}

.backWrapper.fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.tooltipPopup {
  display: none;
}

.chart svg {
  width: 100%;
  height: auto;
}

#chart3 {
  display: flex;
}

#chart3 svg {
  margin-top: auto;
}





@media only screen and (max-width: 767px) {
  /* html {
      font-size: min(4.267vw, 16px);
  } */
  /* * {
      margin: 0;
      padding: 0;
  } */
  .tagList ul {
      margin: 0;
      flex-direction: column;
      align-items: flex-end;
  }
  img, svg {
      width: 100%;
      height: auto;
  }
  .container {
      padding-left: 1rem;
      padding-right: 1rem;
  }
  
  .menuTemp {
      display: flex;
      justify-content: center;
      height: 3.5rem;
      width: auto;
      margin: 0 -1.25rem;
  }
  .menuTemp img:nth-child(1) {
      display: none;
  }
  .menuTemp img:nth-child(2) {
      display: block;
      width: auto;
      height: 100%;
  }
  .footerTemp img:nth-child(1) {
      display: none;
  }
  .footerTemp img:nth-child(2) {
      display: block;
  }
  .intro {
      position: relative;
      height: calc(calc(var(--vh, 1vh) * 100) - 3.5rem);
      width: calc(100% + 2.5rem);
      margin: 0 -1.25rem;
      max-height: 600px;
      justify-content: center;
  }
  .intro .imageContainer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .backgroundImage {
      height: 19.6rem;
      width: auto;
  }
  .intLogo {
      margin: 0;
      margin-top: 0;
      width: 3.06rem;
      height: 3.06rem;
  }
  .intTitle {
      margin-top: 1.21rem;
      margin-bottom: 12.7rem;
      width: 13.63rem;
      font-size: 1.63rem;
      line-height: 1.81rem;
  }
  .containerProject {
      padding-top: 8.4rem;
      padding-bottom: 1rem;
  }
  .tagWrapper {
      top: calc(100vh - 1.13rem);
      left: unset;
      right: 50%;
      transform: translate(50%);
      width: calc(100% + 2.5rem);
  }
  .tagWrapper.fixed {
      position: fixed;
      top: unset;
      bottom: 1.13rem;
      padding: 0;
      width: 100%;
      left: unset;
      right: 0;
      transform: unset;
  }
  
  .tagBurger {
      display: flex;
      position: absolute;
      right: 1.25rem;
      bottom: 0;
      width: 3.13rem;
      height: 3.13rem;
      border-radius: 50%;
      background: var(--lightgrey);
      z-index: 100;
      transform: translateZ(10px);
      pointer-events: auto;
  }
  .tagBurger span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.25rem;
      height: 0.13rem;
      background: #A4A4A5;
  }
  .tagBurger span:nth-child(1) {
      transform: translate(-50%, calc(-50% - 0.44rem));
  }
  .tagBurger span:nth-child(2) {
      transform: translate(-50%, -50%);
  }
  .tagBurger span:nth-child(3) {
      transform: translate(-50%, calc(-50% + 0.44rem));
  }
  .tagBurger.show span:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
  }
  .tagBurger.show span:nth-child(2) {
      opacity: 0;
  }
  .tagBurger.show span:nth-child(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
  }
  .tagList {
      display: none;
      position: absolute;
      bottom: 0;
      right: 1.25rem;
      padding: 1.13rem 0.94rem 3.5rem 2.96rem;
      width: 13.88rem;
      height: fit-content;
      border-radius: 1.50rem;
      background: var(--lightgrey);
      text-align: right;
      pointer-events: none;
  }
  .tagList.show {
      display: flex;
      pointer-events: auto;
  }
  .tagList li {
      padding: 0;
      margin-bottom: 0.75rem;
      white-space: unset;
  }
  .tag {
      padding: 0;
      font-size: 1rem;
      line-height: 1.50rem;
      color: var(--black);
  }
  .back {
      display: none;
  }
  .tooltipPopup {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 2.00rem 2.63rem 1.25rem;
      box-shadow: 0px -2px 2px rgba(191, 203, 222, 0.1), 0px -5px 10px rgba(191, 203, 222, 0.25);
      border-radius: 24px 24px 0px 0px;
      background: var(--white);
      z-index: 101;
      transform: translateZ(100px) translateY(150%);
      pointer-events: none;
      font-family: 'Montserrat', sans-serif;
      transition: all ease 0.5s;
  }
  .tooltipPopup.show {
      pointer-events: auto;
      transform: translateZ(100px) translateY(0);
  }
  .tooltipClose {
      position: absolute;
      width: 0.88rem;
      height: 0.88rem;
      top: 1rem;
      right: 1rem;
  }
  .tooltip * {
      pointer-events: none;
  }
  .tooltip img {
      margin-bottom: -0.2rem;
      padding: 0;
      width: 0.94rem;
      height: 0.94rem;
  }
  .tooltip .tooltiptext {
      display: none;
  }
  .scrolly {
      margin-bottom: 0;
      flex-direction: column;
  }
  .scrolly:last-child {
      margin-bottom: 4rem;
  }
  .sticky-thing {
      position: static;
      width: 100%;
      max-height: unset;
      z-index: 5;
      height: auto;
  }
  /* .sticky-thing-mobile {
      position: sticky;
  } */
  .scrolly article {
      max-width: 100%;
      width: 100%;
      padding: 1rem 0rem 0 0;
  }
  .scrolly-mobile article {
      padding: 100vw 0rem 0 0;
  }
  .chapter {
      min-height: unset;
      justify-content: center;
      margin-bottom: 6rem;
  }
  .chapter1 {
      margin-top: 2rem;
  }
  .chapter2 {
      margin-top: 10rem;
  }
  .chapter3 {
      margin-top: 10.9rem;
  }
  .chapter4 {
      margin-top: 9.6rem;
  }
  .chapter5 {
      margin-top: 10.1rem;
  }
  .chapterTitle {
      margin-top: 1.4rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 2rem;
  }
  .chapterLead {
      width: 100%;
      font-size: 1rem;
      line-height: 1.50rem;
  }
  .chapterImage {
      width: 23.44rem;
      height: 8.88rem;
      margin: 0 -1.25rem 0;
      overflow: unset;
      z-index: -1;
  }
  .chapterSvg {
      position: absolute;
      top: -11.4rem;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      margin: 0;
  }
  .chart {
      margin: 0 auto;
      display: flex;
      max-height: unset;
      height: auto;
      max-width: unset;
      width: 100%;
  }
  .chart svg {
      margin: 0 auto;
  }
  .step {
      margin-top: 0;
      margin-bottom: 2rem;
      padding: 0;
  }
  .step:first-child {
      margin-top: 2.63rem !important;
  }
  .step:last-child {
      margin-bottom: 0 !important;
  }
  .interactivitylabel {
      bottom: -1.5rem;
      left: 0;
  }
  .interactivitylabel img {
      height: 100%;
      width: auto;
  }
  .factoid {
      margin-right: 0;
  }
  .tip {
      width: 11.8rem;
  }
  .toopltipNumber {
      padding-left: 0.3rem;
  }
  .labelRed{
    font-size: 10px;
  }
  .labelGrey{
    font-size: 10px;
  }
  .chart *{
    font-size: 10px;
  }
  #chart5 * {
      font-size: 0.5rem;
  }
  #chart5 #labelRed7 {
      transform: translate(0, -0.3rem);
  }
  #chart5 #labelRed9 {
      transform: translate(-0.7rem, 0.1rem);
  }
  #chart5 #labelRed13 {
      text-anchor: end;
      transform: translate(0.9rem, 0rem);
  }
}

@media only screen and (max-width: 767px) and (max-height: 37.5rem) {
  .intTitle {
      margin-bottom: 14.7rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .chart {
      margin: 0 auto;
      display: flex;
      max-height: 22rem;
      max-width: 21rem;
  }
  .chart svg {
      margin: 0 auto;
      height: 100%;
      width: auto;
  }
}